[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd \
  --name={{ ETCD_NAME }} \
  --cert-file=/etc/kubernetes/pki/key/kubernetes.pem \
  --key-file=/etc/kubernetes/pki/key/kubernetes-key.pem \
  --trusted-ca-file=/etc/kubernetes/pki/ca/ca.pem \
  --peer-trusted-ca-file=/etc/kubernetes/pki/ca/ca.pem \
  --listen-client-urls=https://{{ EXTERNAL_IP }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ EXTERNAL_IP }}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
Type=notify

[Install]
WantedBy=multi-user.target
