[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ EXTERNAL_IP }} \
  --allow-privileged=true \
  --apiserver-count=10 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/etc/kubernetes/pki/ca/ca.pem \
  --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --enable-swagger-ui=false \
  --etcd-cafile=/etc/kubernetes/pki/ca/ca.pem \
  --etcd-certfile=/etc/kubernetes/pki/key/kubernetes.pem \
  --etcd-keyfile=/etc/kubernetes/pki/key/kubernetes-key.pem \
  --etcd-servers=https://127.0.0.1:2379 \
  --event-ttl=1h \
  --kubelet-certificate-authority=/etc/kubernetes/pki/ca/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/pki/key/kubernetes.pem \
  --kubelet-client-key=/etc/kubernetes/pki/key/kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=/etc/kubernetes/pki/key/service-account-key.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/etc/kubernetes/pki/key/kubernetes.pem \
  --tls-private-key-file=/etc/kubernetes/pki/key/kubernetes-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
