[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ KHW_PREFIX }}bin/kube-apiserver \
  --advertise-address={{ KHW_PUBLIC_IP }} \
  --allow-privileged={{ KHW_CONFIG_PRIVILEGED }} \
  --apiserver-count=10 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address={{ KHW_CONFIG_BIND }} \
  --client-ca-file={{ KHW_CA }}ca.pem \
  --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --enable-swagger-ui=false \
  --etcd-cafile={{ KHW_CA }}ca.pem \
  --etcd-certfile={{ KHW_KEY }}kubernetes.pem \
  --etcd-keyfile={{ KHW_KEY }}kubernetes-key.pem \
  --etcd-servers={{ KHW_CONFIG_ETCD }} \
  --event-ttl=1h \
  --kubelet-certificate-authority={{ KHW_CA }}ca.pem \
  --kubelet-client-certificate={{ KHW_KEY }}kubernetes.pem \
  --kubelet-client-key={{ KHW_KEY }}kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file={{ KHW_KEY }}service-account-key.pem \
  --service-cluster-ip-range={{ KHW_NET_SVC }}/{{ KHW_NET_SVC_MASK }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ KHW_KEY }}kubernetes.pem \
  --tls-private-key-file={{ KHW_KEY }}kubernetes-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
