[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr={{ CIDR_NET  }}/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ ADM_CA  }}/ca.pem \
  --cluster-signing-key-file={{ ADM_CA  }}/ca-key.pem \
  --kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{ ADM_CA  }}/ca.pem \
  --service-account-private-key-file={{ ADM_KEY }}/kube-service-account-key.pem \
  --service-cluster-ip-range={{ SVC_NET }}/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
