{
  "CN": "system:kube-proxy",
  "key": {
    "algo": "{{ KHW_CERT_ALG }}",
    "size": {{ KHW_CERT_SIZE }}
  },
  "names": [
    {
      "C": "{{ KHW_CERT_C }}",
      "L": "{{ KHW_CERT_L }}",
      "O": "system:node-proxier",
      "OU": "{{ KHW_CERT_OU }}",
      "ST": "{{ KHW_CERT_ST }}"
    }
  ]
}